*,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    
    background: hsl(205, 90%, 88%);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.875rem;
  }
  
  
  main {
    min-height: 100vh;
    display: grid;
   
    place-items: center;
  }

  .container {
    text-align: center;
  }
  
  #counter-value {
    font-size: 6rem;
    color: #4e6096;
    font-weight: bold;
  }

  .btn {
    
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    padding:12px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
  }
  .btn:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    background-color:#476e9e;
  }
  .btn:active {
    position:relative;
    top:1px;
  }
